.App {
  font-family: sans-serif;
  text-transform: capitalize;
  width: 100%;
}

.container {
  display: block;
}

.list-container {
  width: 100%;
  text-align: center;
}

.list-item-container {
  display: inline-block;
  border: solid;
  border-color: black;
  border-radius: 7px;
  margin: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px #c7c7c7;
}

.image-container {
  margin: 3px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.info-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
